/ui_mainwindow.h
/ui_rssitemui.h
/x64/Debug/qmake
/x64/Release/qmake
/debug
/.vs/assesment/v17
/.qmake.stash
/.vs/assesment/FileContentIndex
/assesment.pro.user
/assesment.qtvscr
/assesment.sln
/assesment.vcxproj
/assesment.vcxproj.filters
/assesment.vcxproj.user
/file.log
/release
